:root {
  scroll-behavior: auto;
}

.alert-box {
    background-color: skyblue;
    padding: 10px;
    color: white;
    border-radius: 5px;
    display: none;
    margin-bottom: 10px;
}

.alert-box button {
    float: right;
}

p {
    display: inline-block;
}

.list-group {
    display: none;
}

.show {
    display: block;
}

.black-bg {
    width : 100%;
    height : 100%;
    position : fixed;
    background : rgba(0,0,0,0.5);
    z-index : 10;
    padding: 30px;
    visibility: hidden;
    opacity: 0;
    transition: all 1s;
  }

  .white-bg {
    background: white;
    border-radius: 5px;
    padding: 30px;
  } 

  .show-modal {
    visibility: visible;
    opacity: 1;
  }

  .main-bg {
    padding: 100px 20px;
    background: lightgrey;
  }

  .slide-container {
    width: 300vw;
  }

  .slide-box {
    width: 100vw;
    float: left;
  }

  .slide-box img {
    width: 100%;
  }

  .navbar {
    position: fixed;
    width: 100%;
    z-index: 5;
  }

  .navbar-brand {
    font-size: 20px;
    transition: all 1s;
  }